/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(216, 96%, 64%);
  --white-color: hsl(0, 0%, 100%);
  --dark-color: hsl(216, 26%, 11%);
  --dark-color-light: hsl(216, 14%, 24%);
  --body-color: hsl(318, 100%, 98%);
  --primary-color: #55c2da;
  --primary-color-dark: #2dd2f7;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;

  --max-width: 1200px;






  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--body-color);
}


body {
  font-family: var(--body-font);
}


header {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  opacity: 0.9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
}

/* .nav__logo {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;

}

.nav__logo:hover {
  color: var(--first-color);
} */

.logo-btn{
  font-family: cursive;
  font-weight: bolder;
  border-radius: 100%;
  font-size: 25px;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    background-color: var(--dark-color);
    box-shadow: 0 8px 16px hsla(216, 24%, 8%, .2);
    width: 100%;
    padding-block: 4rem;
    z-index: var(--z-fixed);
    transition: top .4s;
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: .75rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== DROPDOWN ===============*/
.dropdown {
  position: relative;
}

.dropdown__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
  cursor: pointer;
}

.dropdown__image {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  justify-items: center;
}

.dropdown__image img {
  position: absolute;
  width: 38px;
  /* bottom: -1px; */
  bottom: 1px;
}

.dropdown__names h3 {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

.dropdown__names span {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  text-align: right;
}

.dropdown__list {
  position: absolute;
  top: 4.5rem;
  background-color: var(--dark-color);
  box-shadow: 0 8px 16px hsla(216, 24%, 8%, .2);
  display: grid;
  row-gap: .25rem;
  padding: 1rem 1.25rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  transform: translateY(-.75rem);
  opacity: 0;
  transition: transform .4s, opacity .4s;
  pointer-events: none;
}

.dropdown__list span{
  color: white;
}

.dropdown__link {
  color: var(--white-color);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: .25rem 1.5rem .25rem .5rem;
  border-radius: .25rem;
  transition: background-color .4s;
}

.dropdown__link i {
  font-size: 1rem;
}

.dropdown__link span {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.dropdown__link:hover {
  background-color: var(--dark-color-light);
}

.dropdown__list::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--dark-color);
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin-inline: auto;
  rotate: -45deg;
}

/* Show dropdown */
.show-dropdown .dropdown__list {
  transform: translateY(0);
  opacity: 1;
  pointer-events: initial;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .dropdown__profile {
    column-gap: 1rem;
  }

  .dropdown__list {
    top: 5.5rem;
  }


}

/* home page */

.section {
  background-color: var(--body-color);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: .5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
}

.hire__me {
  /* background-color: var(--primary-color); */
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;
}

.hire__me:hover {
  /* background-color: var(--primary-color-dark); */
  outline: 0;
  color: #ffffff;
  font-size: 1.1rem;

}

.portfolio {
  /* color: var(--primary-color); */
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;

}

.portfolio:hover {
  /* background-color: var(--primary-color-dark); */
  color: #ffffff;
  outline: 0;
  font-size: 1.1rem;


}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}
.home-img{
  margin-top: 80px;
}

@media (width<750px) {
  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);

  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

  .icon__btns {
    margin: auto;
  }
}

.icon__btns {
  display: flex;
  align-items: center;
  /* margin-left: 1rem; */
  margin-top: 1rem;
}

.icon__btns a {
  display: inline-flex;
  padding: .8rem;
  border: .2rem solid var(--primary-color);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--primary-color-dark);
  /* margin: 0 .8rem; */
  transition: .5s;
  margin-right: 1.5rem;
}

.icon__btns a:hover {
  /* background: var(--primary-color-dark);
  color: var(--extra-light);
  box-shadow: 0 0 1rem var(--primary-color-dark); */
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;
}


/* about aection */


.about {
  /* min-height: 100vh; */
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  gap: 2rem;

}

.heading {
  margin-top: 1rem;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}


span {
  color: var(--first-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: .2rem solid var(--first-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;


}

.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#read-more {
  margin: auto;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.read-resume{
  margin: auto;
}

.about-content p {
  font-size: 1.6rem;
  /* margin: 2rem 5rem  3rem 5rem;   */
}


/* my services section */

.services-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(19rem, 1fr));
  gap: 1rem;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;

}
.services-title{
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
.services-title span {
  color: var(--first-color);
}
.services-container .services-box{
  padding: 2rem 1.5rem;
  background: var(--second-bg-color);
  border: .2rem solid var(--second-bg-color);
  border-radius: 1rem;
  transition: .5s;
  color: var(--white-color);
}

.services-container .services-box:hover{
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box .icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-box .icon i{
  font-size: 3rem;
  transition: .5s;
}

.services-box:hover .icon:not(a i){
  color: var(--main-color);
}

.services-box .icon a{
  display: inline-flex;
  background: var(--white-color);
  border-radius: 50%;
  padding: 1rem;
  font-weight: bolder;
  transition: .5s;
}

.services-box:hover .icon a{
  background: var(--main-color);
}

.services-box .icon a i {
  font-size: 1rem;
  color: var(--bg-color);
}

.services-box h3{
  font-size: 1.7rem;
  margin: .5rem 0 2rem;
}

.services-box p{
  font-size: 1rem;

}












.section-title{
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.section-title span {
  color: var(--first-color);
}


.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 2rem;
  max-width: var(--max-width);
  justify-content: space-between;
  margin: auto;
}


.projects-card{
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  border:2px solid black ;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.projects-card:hover{
  background-color: black;
  color: white;
  transform: translateY(-10px)scale(1.02);
}

.projects-card img{
  width: 20vw;
  border-radius: 1rem;
}
.btn-group{
  display: flex;
  gap: 1rem;
}

.btn-group .btn{
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  padding: .5rem 1rem;
  outline: none;
  border: 2px solid black;
  border-radius: 3rem;
  transition: .3s ease-in-out;
  cursor: pointer;
  text-wrap: nowrap;
}


.projects-card:hover .btn{
  border: 2px solid white;
  color: white;
}

.projects-card:hover .btn:hover{
  border: 2px solid white;
  background-color: white;
  color: black;
}

.projects-card h3{
  font-size: 2rem;
  font-weight: 500;
}


/* contact me  */
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* background: #1f242d; */
  margin: auto;
}
.contact-title{
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: black;
  /* margin: auto; */
}
.section-title span {
  color: var(--first-color);
}

.contact form{
  width: 600px;
  text-align: center;
}

form .input-box{
  display: flex;
  justify-content: space-between;
}

.field .item{
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: black;
  margin: 12px 0;
}

.field .item::placeholder{
  color: rgba(78, 39, 39, 0.3);
  font-weight: bold;
}

form .textarea-field .item{
   resize: vertical;
}

form.textarea-field .error-txt{
  margin-top: -10px;

}

form button{
  padding: 12px;
  background: #0ef;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
transition: .5s;
}

form button:hover{
  box-shadow: none;
}







/*start contact*/
.show {
  display: inline;
}

.hide {
  display: none;
}

#contacts {
  width: 100%;
  max-width: 1240px;
  padding: 30px 40px;
  margin: auto;
}

a {
  text-decoration: none;
}

footer {
 
}

.content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 6rem;

}

.profil .logo-area {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profil .logo-area img {
  height: 50px;
  width: 50px;
}

.profil .logo-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.desc-area {
  max-width: 320px;
  margin-bottom: 1.5rem;
}

.desc-area p {
  color: #828282;
  font-family: 400;
  line-height: 28px;
}

.social-media a {
  color: #828282;
   margin-right: 22px; 
  font-size: 24px;
}

.social-media a:hover {
  color: #313131;
}

.service-area {
  display: flex;
}

.service-header {
  margin-right: 40px;
}

.service-name {
  color: var(--secondary-color);
  font-weight: 600;
}

.service-name {
  color: #828282;
  font-weight: 900;
}

.service-header li a {
  color: #828282;
  padding-bottom: 1px;
  font-weight: 400;
}

.service-header li a:hover {
  color: #313131;
}

.service-header li {
  margin-bottom: 10px;
}

hr {
  height: 1px;
  border: none;
  background-color: #828282;
  margin-bottom: 1rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.copy-right {
  color: #828282;
  display: flex;
  align-items: center;
}

.copy-right span {
  margin-left: 8px;
  font-weight: 400;
  letter-spacing: 0.135rem;
}

.tou a {
  color: #828282;
  /* margin-left: 1.5rem; */
  padding: 5px;
}

.tou a:hover {
  color: #313131;
}

.homeup {
  margin-left: 167px;
  font-size: 30px;
  color: red;
  text-align: center;
  border-radius: 100%;
  background: black;
}

@media (max-width:768px) {
  .content-footer {
      flex-wrap: wrap;
      justify-content: left;
  }

  .service-area {
      flex-wrap: wrap;
      justify-content: left;
  }

  .service-header {
      margin-left: 0;
      margin-right: 40px;
  }

  .social-media {
      margin-bottom: 1rem;
  }

  .footer-bottom {
      flex-wrap: wrap;
      justify-content: center;
  }
}

@media (max-width:510px) {
  .service-header {
      margin-bottom: 8px;
  }

  .copy-right {
      margin-bottom: 8px;
  }
}
